<ion-view class="intro">
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide class="slide-content">
      <div id="logo"></div>
      <p><strong>Sharpen your interview skill</strong></p>
      <p>Get real world interview questions and well prepared</p>
      <a class="button button-clear button-positive skipButton" ui-sref="main.interview">Skip</a>
    </ion-slide>
    <ion-slide class="slide-content">
      <div id="logo"></div>
      <p><strong>Sharpen your interview skill</strong></p>
      <p>Get real world interview questions and well prepared</p>
      <a class="button button-clear button-positive skipButton" ui-sref="main.interview">Skip</a>
    </ion-slide>
  </ion-slide-box>
  <div class="bar bar-footer">
    <div class="button-bar">
      <a class="button winterviewGreyBackground" id="joinButton" ui-sref="signup">Join Now</a>
      <a class="button winterviewRedBackground" id="loginButton" ui-sref="signin">Log In</a>
    </div>
  </div>
</ion-view>