@import "scss/shared/color";
@import "scss/shared/image";

/*Styles for the signup screen*/
.resetpw {
  height: 100%;
  background: $intro-image-background;
  background-size: 100%;
  padding-top: 10px;
  text-align: center;
  box-sizing: border-box;
  
  #logo {
    display: block;
    width: 204px;
    height: 45px;
    margin: 30px auto 15px auto;
    background: $app-logo-image;
  }
  p {
    margin: 30px 30px 20px 30px;
    text-align: center;

    strong{
      font-size: 1.2em;
    }
  }
  a.button.button-block {
    margin: 20px auto 0 auto;
    width: 90%;
    font-size: 1em;
    font-weight: 500;

    &:hover {
      color: $color-white;
    }
  }
  a#submitButton {
    margin-top: 25px;
  }
  a#signinLink {
    margin-left: -63px;
  }
}