$color-white: #fff;
$color-warning: #f39c12;
$color-success: #27ae60;

$facebook-blue: #3B5998;
$facebook-light-blue: lighten($facebook-blue, 5%);
$linkedin-blue: #007BB6;
$linkedin-light-blue: lighten($linkedin-blue, 5%);

$winterview-red: #B93121;
$winterview-light-red: lighten($winterview-red, 5%);
$winterview-blue: #1976D2;
$winterview-light-blue: lighten($winterview-blue, 5%);
$winterview-dark: #212121;
$winterview-grey: #757575;
$winterview-light-grey: lighten($winterview-grey, 5%);