<ion-view class="interview-search zoomIn">

	<div id="logo"></div>

	<p>Explore millions of real-world interview questions and tips for your next dream job</p>

	<label class="item item-input">
		<input type="text" placeholder="Job Title">
	</label>
	<label class="item item-input">
		<input type="text" placeholder="Company Name">
	</label>
	<label class="item item-input">
		<input type="text" placeholder="Location">
	</label>
	<label class="item item-input">
		<input type="text" placeholder="Keyword (in interview question)">
	</label>

	<a class="button button-block winterviewRedBackground" id="searchButton">Search</a>

	<add-buttons show-backdrop="$parent.showAddButtonBackdrop"></add-buttons>

</ion-view>